.grid {
    display: grid;
    gap: 2rem;
    width: 100%;
}

.cols-1 {
    grid-template-columns: 1fr;
}

.cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.cols-4 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}