.about {
    max-width: 800px;
    margin: 0 auto;
}


.content {
    font-size: 1.125rem;
    line-height: 1.8;
    color: var(--color-secondary);
}

.highlight {
    color: var(--color-text);
    font-weight: 500;
}

.text {
    margin-bottom: 1.5rem;
}